# Node modules
node_modules/

# Vite build output
dist/

# Sass cache (якщо є)
.sass-cache/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# gh-pages cache (щоб не потрапляло в git)
node_modules/.cache/

# ОС специфічні
.DS_Store
Thumbs.db
