* {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 1);
}

body {
  position: relative;
  background: rgba(0, 0, 0, 1);
  overflow-x: hidden; // прибирає горизонтальний скрол
  min-height: 100vh;

  &::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 30%;
    transform: translateX(400px) rotate(356deg);
    width: 1015px;
    height: 1015px;
    background: url(/img/daniel-olah-dFA5XycbhoQ-unsplash\ 1.png) no-repeat center / cover;
    opacity: 1;
    z-index: -1;
    pointer-events: none;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0; 
    pointer-events: none;
    z-index: -2;

    background-image:
      linear-gradient(
        173.65deg,
        rgba(252, 111, 50, 0.2) -0.71%,
        rgba(255, 74, 89, 0.2) 86.87%
      ),
      linear-gradient(
        166.79deg,
        rgba(50, 191, 252, 0.2) -15.02%,
        rgba(0, 85, 119, 0.2) 83.46%
      );
    
    background-repeat: no-repeat;
    background-size: 504px 795px, 504px 795px;
    background-position: -214px 632px, 350px -297px;
    filter: blur(200px);
  }
}

// .gradient-spot {
//   position: absolute;
//   width: 504px;
//   height: 795px;
//   transform: rotate(112.47deg);
//   opacity: 1;
//   top: 632.49px;
//   left: -214.32px;
//   pointer-events: none;
//   z-index: 0;
//   background: linear-gradient(
//     173.65deg,
//     rgba(252, 111, 50, 0.2) -0.71%,
//     rgba(255, 74, 89, 0.2) 86.87%
//   );
//   filter: blur(200px);
// }

// .gradient-spot2 {
//   position: absolute;
//   width: 504px;
//   height: 795px;
//   top: -296.99px;
//   left: 350.83px;
//   transform: rotate(124deg);
//   z-index: 0;
//   opacity: 1;
//   background: linear-gradient(
//     166.79deg,
//     rgba(50, 191, 252, 0.2) -15.02%,
//     rgba(0, 85, 119, 0.2) 83.46%
//   );
//   filter: blur(200px);
// }

// .planet {
//   background-image: url(/img/daniel-olah-dFA5XycbhoQ-unsplash\ 1.png);
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: absolute;
//   pointer-events: none;
//   z-index: -1;
//   width: 1015px;
//   height: 1015px;
//   top: 100.02px;
//   left: 30%;
//   transform: translateX(400px) rotate(356deg);
//   opacity: 1;
// }

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &2 {
    position: relative;
    z-index: 0;
    border-radius: 91px;
    padding: 14px 32px;
    border: none;
    transition: color 0.3s ease;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      inset: 0;
      padding: 2px;
      border-radius: 91px;
      background: linear-gradient(
        106.2deg,
        #963488 -12.33%,
        #fc6f32 50.28%,
        #ff4a59 114.17%
      );
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      transition: all 0.3s ease;
    }

    &:hover::before {
      -webkit-mask: none;
      mask: none;
      background: linear-gradient(
        106.2deg,
        #963488 -12.33%,
        #fc6f32 50.28%,
        #ff4a59 114.17%
      );
    }
  }
}

.main {
  max-width: 1760px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.6s ease;
  height: 100vh;

  .main-top-placeholder {
    height: 0;
    margin-bottom: 0;
    transition: height 0.5s ease, margin-bottom 0.5s ease;

    &.active {
      height: 52px;
      margin-bottom: 83px;
    }
  }

  &-top {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: transparent;
    pointer-events: auto;
    transition: top 0.4s ease;

    .top-container {
      display: flex;
      flex-direction: row;
      margin-top: 32px;
      gap: 24px;
      justify-content: center;
    }

    .middle-container {
      display: flex;
      flex-direction: column;
      gap: 36px;
      width: 100%;
      margin-top: 115px;
      transition: margin-top 0.3s ease;

      &.margin-expanded {
        margin-top: 51px;
      }

      h1 {
        position: relative;
        font-family: Clash Grotesk;
        font-weight: 500;
        font-size: 128px;
        line-height: 100%;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 0.8s ease;

        @media (min-width: 481px) and (max-width: 1440px)  {
          font-size: 64px;
        }

        &::before {
          content: attr(data-text);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(
            108.88deg,
            #b53ea4 -2.82%,
            #fc6f32 34.48%,
            #ff4a59 93.08%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 1;
          transition: opacity 0.8s ease;
          z-index: 1;
        }

        &::after {
          content: attr(data-text);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(
              0deg,
              rgba(255, 255, 255, 0.2),
              rgba(255, 255, 255, 0.2)
            ),
            linear-gradient(
              106.2deg,
              #ffd6f9 -12.33%,
              #ffcbb4 50.28%,
              #ffbec3 114.17%
            );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 0;
          transition: opacity 0.8s ease;
          z-index: 2;
        }

        &.active {
          &::before {
            opacity: 0;
          }
          &::after {
            opacity: 1;
          }
        }
      }

      p {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
      }

      .middle-buttons {
        display: flex;
        gap: 24px;

        & button {
          height: 75px;
          max-width: 220px;
          width: 100%;
        }
      }
    }
  }

  .bottom-container {
    max-height: 0;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.6s ease;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    gap: 34px;
    width: 100%;

    &.visible {
      max-height: 1000px;
      opacity: 1;
      transform: translateY(0);
      margin-top: 150px;
    }

    .bottom-block {
      width: 564px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(
        105.65deg,
        rgba(150, 52, 136, 0.2) 0.15%,
        rgba(252, 111, 50, 0.2) 130.58%,
        rgba(255, 74, 89, 0.2) 263.64%
      );
      padding: 32px;
      border-radius: 91px;

      opacity: 0;
      transform: translateY(50px);
      transition: opacity 0.8s ease, transform 0.8s ease;

      &.visible {
        opacity: 1;
        transform: translateY(0);
      }

      .bb-number {
        font-family: Inter;
        font-weight: 700;
        font-style: Bold;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
      }

      .bb-text {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
      }
    }
  }
}

.secondary {
  max-width: 1760px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin: 0 auto;
  height: 100vh;

  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.1s ease, opacity 0.1s ease;

  &.show {
    transform: translateY(0);
    opacity: 1;
  }

  h2 {
    font-family: Clash Grotesk;
    font-weight: 500;
    font-style: Medium;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }

  .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    opacity: 0;
    transform: translateX(100px);
    transition: transform 0.8s ease, opacity 0.8s ease;

    & img {
      width: auto;
    }

    &.show {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.third {
  max-width: 1760px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100vh;

  .third-container {
    max-width: 1149px;
    width: 100%;
    height: 423px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    h2 {
      font-family: Clash Grotesk;
      font-weight: 500;
      font-style: Medium;
      font-size: 64px;
      line-height: 110%;
      letter-spacing: 0%;
    }

    p {
      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      font-size: 24px;
      line-height: 32px;
    }

    .btn3 {
      max-width: 377px;
      height: 75px;
    }
  }
}
